head {
	margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Garam', 'Tangerine-Bold';
  margin: 0 auto;
  padding: 0;
  height: calc(100vw*16/9); /* 9:16 비율 */
  max-width: 900px; 
}

@media screen and (min-width: 640px) {
  body {
    height: 100vh;
    font-size: 80%;
  }
}

section {
  max-width: 1024px;
  background-color: #FDF8EB;
  padding: 50px 0;
}

.section1 {
	padding-top: 150px;
	padding-bottom: 150px;
}

.section3 {
        height: 800px;
}

img {
	display: block;
	width: 100%;
	height: auto;
}


/* 텍스트 설정 */

h1 {
	font-size: 5em;
	font-style: normal;
	color: #010101;
	text-align: center;
	vertical-align: top;
	padding-top: 50px;
}

.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.main-name {
  font-size: 7em;
  font-style: normal;
  color: #010101;
  text-align: center;
  padding: 150px 0 0 0;
}


p {
  font-size: 3em;
  font-style: normal;
  color: #010101;
  text-align: center;
  padding: 50px 0 0 0;
}

@font-face {
	font-family: 'Garam';
	src: url('../../나눔손글씨 가람연꽃.ttf') format('truetype');
	unicode-range: U+AC00-D7A3, U+0030-0039; /* 한글과 숫자 유니코드 범위 */
}


@font-face {
	font-family: 'Tangerine-Bold';
	src: url('../../Tangerine-Bold.ttf') format('truetype');
	unicode-range: U+0041-005A, U+0061-007A; /* 영어 대문자, 소문자 유니코드 범위 */
}


li {
	list-style: none;
}

#visual {
	margin: 0;
}

.button-container {
  display: flex;
  justify-content: center; /* 버튼을 수평 중앙 정렬 */
  margin: 20px; /* 가시성을 위해 간격 추가 */
  align-items: center; /* 버튼을 수직 가운데 정렬 */
}

/* 네이버 지도 바로가기 */
.mapbutton, .newbutton {
  background-color: #0b9df0;
  border-bottom: 5px solid #0a7cd0;
  text-shadow: 0px-2px #0a7cd0;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: 0 10px; /* 각 버튼 사이의 간격 */
  display: block;
}

.newbutton img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

/* 축의금 버튼 스타일 */
.button {
	background-color: #ffffff;
	border: none;
	border-radius: 20px;
	color: #2e2e2e;
	display: inline-block;
	font-family: 'NanumSquareRoundExtraBold';
	font-size: 24px;
	font-weight: bold;
	margin: 20px;
	padding: 20px 40px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	align-self: flex-start;
	border: 3px solid #ccc;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.button::before {
	background-color: #2e2e2e;
	border-radius: 20px;
	bottom: -10px;
	content: "";
	left: -10px;
	opacity: 0.2;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: -1;
}

.button:hover {
	background-color: #2e2e2e;
        color: #ffffff;
}

.button: first-of-type {
        margin-right: 50px;
}

.button: last-of-type {
        margin-left: 50px;
}

.section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* 타이핑 애니메이션 */
.container-typing {
	display: flex;
	justify-content: center;
	width: 100%;
}

.text-box {
	display: inline-block;
	text-align: left;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 5rem;
}


/* 방명록 */
#guestbook-container {
  margin: 0 auto;
  width: 80%;
}

#guestbook-form {
  margin-top: 30px;
  text-align: center; /* 입력 폼 내부의 요소들을 가운데 정렬 */
}

#guestbook-input {
  width: 70%;
  height: 100px;
  resize: vertical;
  margin-right: 10px; /* 전송 버튼과의 간격을 줌 */
  display: inline-block; /* 입력란과 전송 버튼을 옆으로 나열 */
}

#guestbook-submit {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  background-color: #f5a623;
  color: #fff;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

#guestbook-submit:hover {
  background-color: #f7b751;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}


#guestbook-messages {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

#guestbook-messages li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  font-size: 20px;
}

