head {
	margin: 0;
}

body {
	font-family: 'GowunDodum-Regular';
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
}

@media screen and(min-width: 1200px) {
	body {
		height: calc(100vw*3/4);
		font-size: 80%;
	}
}

.section1 {
	background-image: url('../../img/main.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
}

.section2 {
        background-color: #ffffff;
}

.section3 {
        background-color: #ffffff;
        position: relative;
}

.section4 {
        background-color: #ffffff;
}

.section5 {
        background-color: #ffffff;
}


h1 {
	font-size: 4em;
	font-style: normal;
	color: #010101;
	text-align: center;
	vertical-align: top;
}

n {
	font-size: 3em;
	font-style: normal;
	color: # 010101;
	text-align: center;
	vertical-align: bottom;
	padding: 0 0 0 500px;
}

m {
	font-size: 3em;
	font-style: normal;
	color: #010101;
	text-align: center;
	vertical-align: bottom;
	padding: 0 0 0 500px;
}

p {
	font-size: 1.5em;
	font-style: normal;
	color: # 010101;
	text-align: left;
	padding: 150px 0 0 150px;
}

@font-face {
	font-family: 'GowunDodum-Regular';
	src: url('../../GowunDodum-Regular.ttf') format('truetype');
}

li {
	list-style: none;
}

#visual {
	margin: 0;
}

/* 네이버 지도 바로가기 */
.mapbutton {
	background-color: #0b9df0;
	border-bottom: 5px solid #0a7cd0;
	text-shadow: 0px-2px #0a7cd0;
	padding: 10px 40px;
	border-radius: 10px;
	font-size: 25px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	display: block;
}


/* 축의금 버튼 스타일 */
.button {
	background-color: #ffffff;
	border: none;
	border-radius: 20px;
	color: #2e2e2e;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	margin: 20px;
	padding: 20px 40px;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	align-self: flex-start;
	border: 3px solid #ccc;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.button::before {
	background-color: #2e2e2e;
	border-radius: 20px;
	bottom: -10px;
	content: "";
	left: -10px;
	opacity: 0.2;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: -1;
}

.button:hover {
	background-color: #2e2e2e;
        color: #ffffff;
}

.button: first-of-type {
        margin-right: 50px;
}

.button: last-of-type {
        margin-left: 50px;
}

.section-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
	height: 100%;
	margin: 0;
	padding: 0;
}
