/*--------------------------------------기본--------------------------------------*/

body {
    display: flex;
    justify-content: center;
    font-family: 'Gowun', 'Tangerine-Bold';
    margin: 0 auto;
    padding: 0;
    height: calc(100vw*16/9);
    max-width: 1024px;
}


@media screen and (min-width: 640px) {
    body {
        height: 100vh;
        font-size: 100%;
    }
}

/*--------------------------------------메인 섹션--------------------------------------*/
section {
    background-color: #FFFEFA;
    width: 1024px;
    height: 1813px;
    padding-top: 80px;
}

.section1 {
    position: relative;

    background-color: #FFFEFA;
    text-align: center;
    padding-top: 50px;
    display: block;
}

section1::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.inner {
    display: inline-block;
    vertical-align: middle;
    writing-mode: vertical-lr;
}

.img-header {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 150px;
    margin: auto;
    opacity: 1;
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    opacity: 0;
    animation-name: fade-in;
    animation-delay: 7s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main-name {
    font-size: 4em;
    font-style: normal;
    color: #010101;
    text-align: center;
    margin: 0;
    opacity: 0;
    animation-name: fade-in;
    animation-delay: 8s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/*--------------------------------------속지 섹션--------------------------------------*/
.section-in {
    background-color: #FFF8E3;
}

.section-in h1 {
    color: #000;
}

.inp {
    font-size: 2.5em;
    line-height: 3;
}

.section-in p {
    font-size: 3em;
    line-height: 3;
}

table {
    font-size: 3em;
    margin: auto;
    padding-top: 100px;
}

/*--------------------------------------갤러리--------------------------------------*/
.section-img {
    height: auto;
}

#myCarousel {
    max-width: 1024px;
    margin: 0 auto;
}

#myCarousel .f-carousel__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCarousesl .f-carousel__dots {
    display: none;
}

/*--------------------------------------지도--------------------------------------*/
.section2 {
    height: auto;
}

#container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF8E3;
    padding: 20px;
    width: 90%;
    margin: auto;
}

#container1 p {
    margin: 0;
    padding: 0;
    font-family: 'Gowun'
}

.btn_map {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    color: #2e2e2e;
    display: inline-block;
    margin: 20px;
    padding: 50px 50px;
    position: relative;
    align-self: flex-end;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.btn_map:hover {
    transform: scale(1.05);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
}


.btn_map: first-of-type {
    margin-right: 50px;
}

.btn_map: last-of-type {
    margin-left: 50px;
}

.btn_map:nth-of-type(1) {
    background-image: url('../../img/navermap.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn_map:nth-of-type(2) {
    background-image: url('../../img/kakaomap.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.btn_map:nth-of-type(3) {
    background-image: url('../../img/tmap.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*--------------------------------------연락처--------------------------------------*/
#contact1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#contact1 p {
    margin: 0;
    padding: 0;
    font-family: 'Gowun'
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.btn1,
.btn3 {
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Gowun';
    background-color: #e1ce83;
    color: #fff;
    border: none;
    width: 200px;
    height: 200px;
    line-height: 1.75em;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn1:hover,
.btn3:hover {
    background-color: #f5e5a2;
}

.btn2,
.btn4 {
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Gowun';
    background-color: #e1ce83;
    color: #fff;
    border: none;
    width: 200px;
    height: 200px;
    line-height: 1.75em;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn2:hover,
.btn4:hover {
    background-color: #f5e5a2;
}

/*--------------------------------------모달--------------------------------------*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #FFF8E3;
    margin: 50% auto;
    height: 1000px;
    border: 1px solid #888;
    width: 800px;
    max-width: 100%;
    text-align: center;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-content p {
    font-size: 2.5em;
    padding: 0;
    margin-top: 20%;
}

.modal-content .modal-p {
    font-size: 2em;
}

.left {
    grid-column: 1 / 2;
}

.right {
    grid-column: 2 / 3;
}

.mbtn {
    border: none;
    padding: 50px;
    border-radius: 15px;
    line-height: 10;
    margin: 20% 40% 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}


.mbtn2 {
    border: none;
    padding: 50px;
    border-radius: 15px;
    line-height: 10;
    margin: 20% 40% 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
}

.mbtn:nth-of-type(1) {
    background-image: url('../../img/call.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn:nth-of-type(2) {
    background-image: url('../../img/kakaotalk_logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn:nth-of-type(3) {
    background-image: url('../../img/insta.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn:nth-of-type(4) {
    background-image: url('../../img/call.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn:nth-of-type(5) {
    background-image: url('../../img/kakaotalk_logo.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn:nth-of-type(6) {
    background-image: url('../../img/insta.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn2:nth-of-type(1) {
    background-image: url('../../img/copy.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn2:nth-of-type(2) {
    background-image: url('../../img/kpay.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn2:nth-of-type(3) {
    background-image: url('../../img/copy.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mbtn2:nth-of-type(4) {
    background-image: url('../../img/kpay.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*--------------------------------------이미지 설정--------------------------------------*/
img {
    display: block;
    width: 100%;
    height: auto;
}



/*--------------------------------------기본 폰트 --------------------------------------*/
@font-face {
    font-family: 'Gowun';
    src: url('../../GowunBatang-Regular.ttf') format('truetype');
    unicode-range: U+AC00-D7A3, U+0030-0039;
    /* 한글, 숫자 */
}


@font-face {
    font-family: 'Tangerine-Bold';
    src: url('../../Tangerine-Bold.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+2200-2FFF;
    /* 영어 대문자, 소문자, 특수문자 */
}

h1 {
    font-size: 5em;
    font-style: normal;
    color: #e1ce83;
    text-align: center;
    vertical-align: top;
}

h2 {
    font-size: 6em;
    text-align: left;
}



p {
    font-size: 2em;
    font-style: normal;
    color: #000000;
    text-align: center;
    padding: 50px 0 0 0;
    line-height: 1.5;
}

hr {
    width: 90%;
    border: 3px;
    border-style: solid;
    color: #e1ce83;
    margin: 0 auto;
}

.hr1 {
    margin-bottom: 100px;
}

.hr3 {
    margin-top: 200px;
}

.hr4 {
    border: 2px;
    border-style: solid;
    width: 80%;
}

.hr5 {
    border: 2px;
    border-style: solid;
    width: 80%;
}

.mhr {
    width: 50%;
}

pre {
    font-family: 'Gowun';
    font-size: 1em;
    text-align: left;
}

/*--------------------------------------푸터--------------------------------------*/
.section-footer {
    height: auto;
}

.footer {
    padding: 10% 0 10% 0;
    height: auto;
    background-color: #FFF8E3;
}

.footer h1 {
    font-size: 3em;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footerbtn {
    font-weight: bold;
    font-size: 2.5em;
    font-family: 'Gowun';
    background-color: #e1ce83;
    color: #fff;
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5% 5% 0;
}

.footerbtn:hover {
    background-color: #f5e5a2;
}

.footerbtn:nth-of-type(1) {
    background-image: url('../../img/copy-w.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

.footerbtn:nth-of-type(2) {
    background-image: url('../../img/share.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
